<h1>Pages#info</h1>
<!--<p>Find me in app/views/pages/info.html.erb</p>-->
<h2> Work In Progress</h2>

<p>
  <strong>UNDER CONSTRUCTION</strong>
 <p><img src = 'http://adamhgrimes.com/TAAS/wp-content/uploads/2014/08/under-construction-banner-300x114.jpg' >
 </img></p>
</p>
